/*
 * @author: marco torres
 */

@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro.eot');
  src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro.woff2') format('woff2'),
  url('../fonts/intro.woff') format('woff'),
  url('../fonts/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Head R Base';
  src: url('../fonts/introheadr-base.eot');
  src: url('../fonts/introheadr-base.eot?#iefix') format('embedded-opentype'),
  url('../fonts/introheadr-base.woff2') format('woff2'),
  url('../fonts/introheadr-base.woff') format('woff'),
  url('../fonts/introheadr-base.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/montserrat-light.eot');
  src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-light.woff2') format('woff2'),
  url('../fonts/montserrat-light.woff') format('woff'),
  url('../fonts/montserrat-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trebucit';
  src: url('../fonts/trebucit.eot');
  src: url('../fonts/trebucit.eot?#iefix') format('embedded-opentype'),
  url('../fonts/trebucit.woff2') format('woff2'),
  url('../fonts/trebucit.woff') format('woff'),
  url('../fonts/trebucit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  font-family: "Montserrat Light", Arial, "Georgia", serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #141111;
}

a, 
a:link, 
a:visited, 
a.visited {
  color: #333;
}

a:hover, 
a:active, 
a:focus {
  background-color: none !important;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Intro Head R Base", Arial;
}

/* Blockquote */

blockquote {
  background: #F8F8F8;
  border-left: none;
  font-size: 14px;
  margin: 20px 0;
  padding: 15px 5px;
}

blockquote .info-left {
  font-family: 'Intro Head R Base';
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

blockquote .info-right p {
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

img {
  max-width: 100%;
}

input, 
.form-control {
  box-shadow: none;
}

.form-submit, 
.form-reset {
  border: 1px solid #E63A38;
  border-radius: 3px;
  background: #E63A38;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
  line-height: 10px;
  margin: 0 2px;
  padding: 8px 25px;
  text-align: center;
}

.form-submit:hover, 
.form-reset:hover {
  background: #222222;
  color: #fff;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* Header */

header {
  background: #014382;
  font-family: "Open Sans Condensed", Arial, "Georgia", serif;
  height: 85px;
}

header .navbar > .container {
  position: relative;
}

header h1 {
  margin: 0;
}

header .navbar-brand {
  padding: 0;
}

header .navbar-social {
  position: absolute;
  right: 15px;
  top: 26px;
}

header .navbar-social a {
  display: inline-block;
  margin: 0 4px;
}

.navbar {
  background: #014382;
}

.navbar-header .navbar-brand {
  margin-top: 12px;
}

/* Banner */ 

#home  {
  position: relative;
}

#home .banner-image  {
  background: url('../img/highlighted-banner.png') no-repeat center 0;
  background-size: cover;
  height: 100vh;
  max-height: 590px;
}

#home > .container {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#home > .container > .row {
  padding-top: 40px;
  position: absolute;
  top: 0;
}

#home > .container > .row > div > h4 {
  font-size: 56px;
}

#home > .container > .row > div > h2 {
  font-size: 72px;
  margin-bottom: 0;
}

#home > .container > .row > div > h3 {
  color: #0087a3;
  font-size: 67px;
  letter-spacing: 26px;
  line-height: 0.8em;
  margin-top: 0;
}

#home > .container > .row > div > p {
  color: #044082;
  font-family: "Trebucit", Arial;
  font-size: 36px;
  font-weight: 100;
  line-height: 0.9em;
  margin-top: 20px;
}

#home .btn-button {
  float: left;
  font-size: 26px;
  font-weight: 100;
  height: auto;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-top: 50px;
  padding: 4px 40px 8px;
  text-align: center;
  width: auto;
}

#home .btn-button span {
  display: block;
  font-family: "Intro", Arial;
  font-size: 39px;
  letter-spacing: 0;
}

/* Block Container */

.block-container > .container {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #7f7f7f;
}

.block-container > .container > .row > div > h4 {
  color: #bb005b;
  font-size: 40px;
  margin-bottom: 0;
}

.block-container > .container > .row > div > h2 {
  color: #044082;
  font-size: 69px;
  margin-top: 0;
  line-height: 1em;
}

.block-container > .container > .row > div > p {
  color: #797979;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.9em;
  padding: 0;
}
/* Cursos */
div#curso {
    position: relative;
    bottom: 80px;
}
.informatica {
    height: 360px;
}
.img-informatica {
    float: right;
}
.curso-texto {
  display: inline-block;
}
.curso-texto h3{
  font-size: 40px;
  color: #fff;
  background: #71B807;
  padding: 2px 145px;
  border-radius: 14px;
}
.curso-texto li {
    list-style: none;
    font-size: 30px;
    line-height: 34px;
    font-family: "Intro Head R Base", Arial;
}
.curso-texto ul {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.sedes-cercanas {
    text-align: center;
}
.boton-1 {
    margin-bottom: 30px;
}
.boton {
    text-align: center;
    margin-top: 25px;
}

/* Sedes */
div#sede {
    position: relative;
    bottom: 80px;
}
div#sedes-2 {
    position: relative;
    top: -48px;
}
#sedes > .container > .row > div > p {
  font-size: 28px;
  padding: 0 0 20px 0;
  text-align: center;
}

.ui-accordion .ui-accordion-header, 
.ui-accordion .ui-accordion-header-collapsed {
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  padding: 7px 20px 5px;
  text-align: center;
}

.ui-accordion .ui-accordion-header:nth-child(1), 
.ui-accordion .ui-accordion-header:nth-child(9), 
.ui-accordion .ui-accordion-header:nth-child(17), 
.ui-accordion .ui-accordion-header:nth-child(25) {
  background: #71B807;
}

.ui-accordion .ui-accordion-header:nth-child(3), 
.ui-accordion .ui-accordion-header:nth-child(11), 
.ui-accordion .ui-accordion-header:nth-child(19), 
.ui-accordion .ui-accordion-header:nth-child(27) {
  background: #BD1E5B;
}

.ui-accordion .ui-accordion-header:nth-child(5), 
.ui-accordion .ui-accordion-header:nth-child(13), 
.ui-accordion .ui-accordion-header:nth-child(21), 
.ui-accordion .ui-accordion-header:nth-child(29) {
  background: #0088A1;
}

.ui-accordion .ui-accordion-header:nth-child(7), 
.ui-accordion .ui-accordion-header:nth-child(15), 
.ui-accordion .ui-accordion-header:nth-child(23), 
.ui-accordion .ui-accordion-header:nth-child(31) {
  background: #002530;
}

.ui-accordion .ui-accordion-content {
  border: none;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 0 30px 10px;
}

.accordion-options {
  float: left;
  width: 50%;
}

.accordion-options > h2 {
  color: #000;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}

.accordion-options h2:hover span, 
.accordion-options h2.active span {
  color: #ff2d01;
  text-decoration: underline !important;
}

.accordion-options h2 > div {
  color: #797979;
  display: none;
  font-size: 18px;
}

.accordion-options h2 > div.active {
  display: block;
}

.accordion-content {
  float: right;
  padding: 20px;
  width: 50%;
}

.accordion-content ul, 
.accordion-content ol {
  margin-left: 20px;
}

.accordion-content ul li {
  font-size: 24px;
  list-style: disc;
}

.accordion-content ol li {
  list-style: decimal;
}

.ui-accordion .ui-accordion-content:nth-child(2) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(10) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(18) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(26) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(2) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(10) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(18) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(26) .accordion-content ol li {
  color: #71B807;
}

.ui-accordion .ui-accordion-content:nth-child(4) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(12) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(20) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(28) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(4) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(12) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(20) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(28) .accordion-content ol li {
  color: #BD1E5B;
}

.ui-accordion .ui-accordion-content:nth-child(6) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(14) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(22) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(30) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(6) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(14) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(22) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(30) .accordion-content ol li {
  color: #0088A1;
}

.ui-accordion .ui-accordion-content:nth-child(8) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(16) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(24) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(32) .accordion-content ul li, 
.ui-accordion .ui-accordion-content:nth-child(8) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(16) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(24) .accordion-content ol li, 
.ui-accordion .ui-accordion-content:nth-child(32) .accordion-content ol li {
  color: #002530;
}

.accordion-content p {
  color: #797979;
  font-size: 18px;
}

.accordion-content ul li p {
  margin-bottom: 0;
}

/* Information */
div#informations {
    position: relative;
    bottom: 80px;
}
#information > .container > .row p {
  margin-bottom: 25px;
  text-align: justify;
}

.block-form {
  background: #E1E1E1;
  padding: 20px;
}

.block-form h3 {
  color: #044082;
  font-family: 'Open Sans Condensed';
  font-size: 34px;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.block-form h3 span {
  color: #fc3a00;
  font-size: 23px;
  font-weight: 600;
}

.block-form p {
  color: #232121;
  font-style: italic;
  text-align: center;
}

.block-form input[type="text"], 
.block-form input[type="email"], 
.block-form input[type="tel"] {
  border: none;
  border-radius: 0;
  font-size: 12px;
}

.block-form input[type="checkbox"] {
   opacity: 0;
}

.block-form .checkbox label {
  background: url('../img/form_checks.png') no-repeat 0 3px;
  color: #878787;
  margin-left: 15px;
  min-height: 26px;
  padding-left: 30px;
}

.block-form .checkbox label.active, 
.block-form .checkbox input[type="checkbox"]:checked ~ label {
  background: url('../img/form_checks.png') no-repeat 0 -57px;
}

.block-form .form-actions {
  margin-bottom: 0;
}

.block-form input[type="submit"], 
.btn-button {
  border: none;
  border-radius: 10px;
  background: #BD1E5B;
  color: #fff !important;
  font-family: 'Open Sans Condensed';
  font-size: 23px;
  font-weight: 600;
  height: 40px;
  line-height: 10px;
  margin: 0;
  padding: 8px 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.form-group {
  margin: 15px 0;
}

.form-group label.error {
  float: right;
}

/* FAQ */
div#questions {
    position: relative;
    bottom: 80px;
}
.faq-container {
  padding: 10px 0 0 25px;
}

.faq-container .faq-item {
  padding-bottom: 1px;
}

.faq-container h2 {
  color: #fc3a00;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
}

.faq-container, 
.faq-container p {
  color: #767676;
  font-size: 17px;
}

.faq-container p {
  padding-left: 10px;
  font-style: italic;
  line-height: 1.4em;
}

/* Confirmation */

#confirmation {
  background: url('../img/confirmation-image.jpg') no-repeat 0 0;
  background-size: cover;
  padding: 150px 15px;
  text-align: center;
}

#confirmation h2.title {
  color: #fff;
  font-size: 115px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#confirmation p {
  color: #fff;
  font-family: 'Open Sans Condensed';
  font-size: 28px;
  line-height: 28px;
}

#confirmation .btn-button {
  font-size: 28px;
  font-weight: normal;
  padding-left: 50px;
  padding-right: 50px;
}

/* Footer */

.footer-block {
  padding-bottom: 20px;
  padding-top: 48px;
}

#footer-block-phone {
  background: url('../img/phone.png') no-repeat 80px 6px;
  padding-top: 40px;
}

.footer-block-content {
  background: url('../img/quater.png') no-repeat 0 2px;
  padding-left: 20px;
}

#footer-block-phone .footer-block-content {
  background-position: 0 10px;
}

.footer-block-content h3 {
  font-family: "Open Sans Condensed", Arial, "Georgia", serif;
  margin-top: 0;
}

#footer-block-phone h3 {
  font-size: 30px;
  font-weight: 600;
}

#footer-block-social h3 {
  font-size: 17px;
  font-weight: 700;
}

#footer-block-phone h3 span {
  color: #fc3a00;
  font-size: 33px;
  font-style: italic;
  font-weight: normal;
}

.footer-block-content p {
  font-size: 11px;
  font-style: italic;
}

#copyright {
  background: #222222;
  color: #9d9d9d;
  padding: 20px 0 15px;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 990px) {
  header .navbar-social {
    display: none;
  }
  #home .banner-image {
    max-height: 450px;
  }
  .block-container > .container > .row > div > h4 {
    font-size: 38px;
  }
  .block-container > .container > .row > div > h2 {
    font-size: 50px;
  }
  #sedes > .container > .row > div > p {
    font-size: 22px;
  }
  .ui-accordion .ui-accordion-header, 
  .ui-accordion .ui-accordion-header-collapsed {
    font-size: 30px;
  }
  #home > .container > .row {
    padding-top: 30px;
  }
  #home > .container > .row > div > h4 {
    font-size: 44px;
  }
  #home > .container > .row > div > h2 {
    font-size: 52px;
  }
  #home > .container > .row > div > h3 {
    font-size: 50px;
  }
  #home > .container > .row > div > p {
    font-size: 26px;
  }
  #home .btn-button {
    font-size: 22px;
    margin-top: 40px;
  }
  #home .btn-button span {
    font-size: 32px;
  }
  #sedes, 
  #information, 
  #faq {
    text-align: center;
  }
  .accordion-options > h2 {
    font-size: 24px;
    text-align: left;
  }
  .accordion-content {
    text-align: left;
  }
  .accordion-content p {
    font-size: 16px;
    text-align: left;
  }
  .block-form {
    margin-top: 20px;
  }
  .footer-block-content {
    background: none;
  }
  #footer-block-phone {
    background-position: center -4px;
    margin-top: 20px;
  }
  #footer-block-info {
    padding-top: 10px;
  }
  #footer-block-social {
    padding-top: 10px;
  }
}

@media only screen and (min-width : 767px) {
  .navbar-nav {
    display: block;
    float: left;
    margin-left: 7%;
  }
  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
  .navbar-nav > li > a {
    color: #ccc;
    display: inline-block;
    float: none;
    font-size: 16px;
    height: 85px;
    padding: 30px 20px;
  }
  .navbar-nav > li:last-child a {
    padding-right: 0;
  }
  .navbar-nav > li a.active, 
  .navbar-nav > li.active a, 
  .navbar-nav > li a:hover, 
  .navbar-nav > li a:active, 
  .navbar-nav > li a:focus {
    /*background: url('../img/hover.png') no-repeat 0 16px;*/
    background: none;
    color: #fff !important;
    text-decoration: underline;
  }
  #home > .container > .row > div > p span {
    clear: both;
    display: block;
  }
}

@media only screen and (max-width : 767px) {
  header {
    height: 65px;
  }
  #home {
  }
  #home > .container > .row {
    padding-top: 20px;
    position: static;
    text-align: center;
  }
  #home > .container > .row > div > h4 {
    font-size: 40px;
  }
  #home > .container > .row > div > h2 {
    font-size: 48px;
  }
  #home > .container > .row > div > h3 {
    font-size: 46px;
    letter-spacing: 2px;
  }
  #home > .container > .row > div > p {
    font-size: 22px;
    margin-top: 10px;
  }
  #home .btn-button {
    display: inline-block;
    float: none;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #home .btn-button span {
    font-size: 28px;
  }
  .navbar-social {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  .container-fluid > .navbar-collapse, 
  .container-fluid > .navbar-header, 
  .container > .navbar-collapse, 
  .container > .navbar-header {
    background: rgba(1, 67, 130, 1) !important;
    height: 65px;
  }
  .navbar-collapse {
    border-top: none;
  }
  header .navbar-brand {
    height: 40px;
    margin-left: 30px;
  }
  header .navbar-brand img {
    width: 72%;
    height: auto;
  }
  .navbar-toggle {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  .navbar-toggle .icon-bar {
    background-color: #FE4500 !important;
    height: 4px;
    width: 25px;
  }
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #FFF !important;
  }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: none;
    margin: 0;
  }
  .navbar {
    background: none;
  }
  .navbar-fixed-top .navbar-collapse, 
  .navbar-fixed-bottom .navbar-collapse {
    background: rgba(1, 67, 130, 0.9) !important;
    float: right;
    margin-right: 0;
    margin-top: -5px;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar .menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nav > li {
    border-bottom: 1px solid #0054A7;
  }
  .nav > li a {
    color: #ccc;
    font-size: 20px;
    padding-left: 35px;
  }
  .nav > li a.active, 
  .nav > li.active a, 
  .nav > li a:hover, 
  .nav > li a:active, 
  .nav > li a:focus {
    background: url('../img/hover.png') no-repeat 15px -4px;
    color: #fff !important;
  }
  .owl-carousel .owl-wrapper-outer {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .page-internal {
    padding: 30px 0;
  }
  .page-internal h2.title {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  blockquote {
    margin-left: 15px;
    margin-right: 15px;
  }
  .block-container > .container {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .internal-block {
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    max-height: none;
    min-height: 160px;
    width: 46%;
  }
  .block-form {
    margin-left: 15px;
    margin-right: 15px;
  }
  #confirmation {
    padding: 50px 15px;
  }
  #confirmation h2.title {
    font-size: 80px;
    margin-bottom: 25px;
  }
  #information h2.title {
    font-size: 60px !important;
    line-height: 70px;
  }
  #information p {
    text-align: justify;
  }
  #information img {
    display: none;
  }
  .footer-block-content p {
    font-size: 14px;
  }
  #footer-block-info {
    padding-top: 0;
  }
  #footer-block-social {
    padding-bottom: 40px;
    padding-top: 0;
  }
  .block-form {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width : 600px) {
  #home .banner-image {
    max-height: 250px;
  }
  #home > .container > .row > div > h4 {
    font-size: 36px;
  }
  #home > .container > .row > div > h2 {
    font-size: 44px;
  }
  #home > .container > .row > div > h3 {
    font-size: 42px;
  }
  #home > .container > .row > div > p {
    font-size: 20px;
  }
  #home .btn-button {
    font-size: 18px;
  }
  #home .btn-button span {
    font-size: 25px;
  }
  .internal-block {
    float: none;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
    max-height: none;
    min-height: 160px;
    width: 94%;
  }
  #confirmation h2.title {
    font-size: 65px;
  }
  .block-container > .container > .row > div > h4 {
    font-size: 32px;
  }
  .block-container > .container > .row > div > h2 {
    font-size: 42px;
  }
  #sedes > .container > .row > div > p {
    font-size: 18px;
  }
  .ui-accordion .ui-accordion-header, 
  .ui-accordion .ui-accordion-header-collapsed {
    font-size: 26px;
  }
  .accordion-options > h2 {
    font-size: 22px;
  }
  .accordion-content p {
    font-size: 15px;
  }
  #information > .container > .row p {
    font-size: 16px;
  }
  .faq-container {
    padding: 10px 10px 0;
  }
  .faq-container h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width : 450px) {
  #home .banner-image {
    max-height: 200px;
  }
  #careers h2.title, 
  #graduates h2.title {
    font-size: 50px !important;
    line-height: 60px;
  }
  #information h2.title {
    font-size: 45px !important;
    line-height: 55px;
  }
  .navbar-nav > li:last-child > a {
    font-size: 18px;
  }
  #home > .container > .row > div > h4 {
    font-size: 32px;
  }
  #home > .container > .row > div > h2 {
    font-size: 40px;
  }
  #home > .container > .row > div > h3 {
    font-size: 40px;
  }
  #home > .container > .row > div > p {
    font-size: 18px;
  }
  #home .btn-button {
    font-size: 17px;
  }
  #home .btn-button span {
    font-size: 22px;
  }
  .block-container > .container > .row > div > h4 {
    font-size: 30px;
  }
  .block-container > .container > .row > div > h2 {
    font-size: 38px;
  }
  #sedes > .container > .row > div > p {
    font-size: 16px;
    line-height: 20px;
  }
  .ui-accordion .ui-accordion-header, 
  .ui-accordion .ui-accordion-header-collapsed {
    font-size: 24px;
  }
  .ui-accordion .ui-accordion-content {
    padding: 0 20px;
  }
  .accordion-options {
    width: 100%;
  }
  .accordion-options > h2 {
    color: #ff2d01;
    cursor: default;
    font-size: 24px;
  }
  .accordion-options h2 > span {
    text-decoration: underline !important;
  }
  .accordion-options h2 > div {
    display: block;
    padding: 15px 0 5px;
  }
  .accordion-options h2 > div li, 
  .accordion-options h2 > div p {
    text-decoration: none !important;
  }
  .accordion-options ul, 
  .accordion-options ol {
    margin-left: 20px;
  }
  .accordion-options ul li {
    list-style: disc;
  }
  .accordion-options ol li {
    list-style: decimal;
  }
  .ui-accordion .ui-accordion-content:nth-child(2) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(10) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(18) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(26) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(2) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(10) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(18) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(26) .accordion-options ol li {
    color: #71B807;
  }
  .ui-accordion .ui-accordion-content:nth-child(4) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(12) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(20) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(28) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(4) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(12) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(20) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(28) .accordion-options ol li {
    color: #BD1E5B;
  }
  .ui-accordion .ui-accordion-content:nth-child(6) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(14) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(22) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(30) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(6) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(14) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(22) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(30) .accordion-options ol li {
    color: #0088A1;
  }
  .ui-accordion .ui-accordion-content:nth-child(8) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(16) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(24) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(32) .accordion-options ul li, 
  .ui-accordion .ui-accordion-content:nth-child(8) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(16) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(24) .accordion-options ol li, 
  .ui-accordion .ui-accordion-content:nth-child(32) .accordion-options ol li {
    color: #002530;
  }
  .accordion-options p {
    color: #797979;
  }
  .accordion-content {
    display: none;
  }
  #information > .container > .row p {
    font-size: 16px;
  }
  .faq-container {
    padding: 10px 10px 0;
  }
  .faq-container h2 {
    font-size: 24px;
  }
  #footer-block-phone h3 {
    font-size: 26px;
  }
  #footer-block-phone h3 span {
    font-size: 28px;
    font-weight: 600;
  }
}

@media only screen and (max-width : 400px) {
  #home .banner-image {
    max-height: 180px;
  }
  .navbar-brand > img {
    padding-right: 0 !important;
    margin-top: 5px;
    width: 220px;
  }
  .curso-texto h3 {
    text-align: center;
    padding: 2px 80px;
  }
  .boton {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px !important;
  }
  .informatica {
    height: 100% !important;
  }
  .boton-1 {
    margin-bottom: 30px;
    margin-top: 250px;
  }
  .ui-accordion .ui-accordion-header, 
  .ui-accordion .ui-accordion-header-collapsed {
    font-size: 22px;
  }
  #confirmation h2.title {
    font-size: 44px;
    margin-bottom: 25px;
  }
  #confirmation p {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #confirmation .btn-button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-container h2 {
    font-size: 22px;
  }
  .faq-container p {
    font-size: 15px;
  }
}